{% extends 'base.html.twig' %}

{% block title 'Inscrivez-vous - Job-Ads' %}

{# form_theme permet de mettre au courant twig qu'on veut utiliser un theme particuler #}

{% form_theme form _self %}

{% block body %}

<header class="title">
    <div class="block">
        <a href="{{ path('app_home_candidat') }}">
            <i>JOB-ADS</i>
        </a>
    </div>
</header>
<div class="mt-2 mb-5">
    <div class="container ">
        <div class=" p-3 mx-auto signUp-box" style="background-color: #fff;">
            <h1 class="mt-3 text-dark text-center">Lancez-vous dans le monde professionnelle en créeant vos profils
            </h1>

            <div class="container mt-4 mb-5 col-md-9">
                <div class="form-group">
                    <input type="text" class="form-control rounded-1 border-secondary" name="" placeholder="Nom"
                           value="{{ app.user.nom }}" disabled/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control rounded-1 border-secondary" name="" placeholder="Prénom"
                           value="{{ app.user.prenom }}" disabled/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control rounded-1 border-secondary" name=""
                           placeholder="Adresse email" value="{{ app.user.email }}" disabled/>
                </div>

                <h1 class="text-primary ml-5 mt-5 mb-4 h4">Créer votre Profil principal*</h1>

                {{ form_start(form) }}
                <div class="input-group mb-3 ml-4">
                    <div class="input-group-prepend">
                        {{ form_label(form.domaineEtudeProfil,null,{
                            'label_attr':{
                                'class':'input-group-text'
                            }
                        }) }}
                    </div>
                    {{ form_widget(form.domaineEtudeProfil,{
                        'attr':{
                            'class':'custom-select rounded-1 col-md-4 text-center'
                        }
                    }) }}
                </div>
                <div class="form-group competences">
                    <label for="competences" class="h6 mt-2 text-dark">Vos compétences
                    </label>
                    <div class="d-flex mb-3 ml-4">
                        {{ form_widget(form.competences,{
                            'attr':{
                                'class':'form-control col-md-6'
                            }
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.anneeExperience,null,{
                        'label_attr':{
                            'class': 'h6 mt-2 text-dark'
                        }
                    }) }}
                    {{ form_widget(form.anneeExperience,{
                        'attr':{
                            'class': 'form-control col-md-3 ml-4',
                            'min': '0',
                            'placeholder' : 'Aucune année'
                        }
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.typeContrat,'Type de contrat recherché',{
                        'label_attr':{
                            'class': 'h6 mt-2 text-dark'
                        }
                    }) }}
                    {{ form_widget(form.typeContrat,{
                        'mutliple':true
                    }) }}
                </div>
                <div class="form-group text-center">

                {{ form_label(form.cvFile,'Déposez votre CV',{
                    'label_attr':{
                        'class': 'h6 mt-2 text-dark text-center'
                    }
                }) }}
                {{ form_widget(form.cvFile) }}
                </div>
                {{ form_end(form) }}
            </div>
            {% endblock %}

            {% block _profil_diplomes_widget %}
                <p class="h5  mt-2  text-danger">Ajouter Vos diplômes</p>

                {{ form_widget(form) }}

                {# permet de gérer le nombre d'ajout de diplomes #}
                <input type="hidden" id="widget-counters" value="0">

                <div class="form-group">
                    <button type="button" id="add-diplome" class="btn btn-info mt-2">Ajouter un Diplôme</button>
                </div>
                <div class="container col-md-4 mt-lg-5">

                <button class="btn col-md-12 rounded-0" style="background-color: #DB7300" type="submit">Créer le profil</button>
                </div>
                <span>* Ce profil sera votre profil par défaut</span>

            {% endblock %}
            {# definir les entry de la collection #}
            {% block _profil_diplomes_entry_row %}
                {{ form_widget(form) }}
            {% endblock %}

            {% block _profil_diplomes_entry_widget %}
                <div class="row" id="block_{{ id }}">
                    {# <fieldset class="border pl-4 pb-4">
										<legend class="w-auto">Diplôme</legend> #}
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col text-center">
                                    <label for="niveau" class="h6 mt-2 text-dark text-center">Niveau</label>
                                    {{ form_widget(form.niveau,{
                                        'attr':{
                                            'class': 'h6 mt-2 text-dark text-center'
                                        }}) }}
                                </div>
                                <div class="col text-center">
                                    <label for="dateObtention" class=" h6 mt-2 text-dark ">Date obtention</label>
                                    {{ form_widget(form.dateObtention,{
                                        'attr':{
                                            'class': 'col-md-12 mt-2'
                                        }}) }}
                                </div>
                                <div class="col text-center">
                                    <label for="justificatif" class=" h6 mt-2 mb-3 text-dark ">Justificatif</label>
                                    {{ form_widget(form.justificatifFile,{
                                        'attr':{
                                            'class': 'col-md-12'}}) }}
                                </div>
                                <div class="col-md-1 mt-3">
                                    <button type="button" data-action="delete" data-target="#block_{{ id }}"
                                            class="btn btn-danger mt-4">X
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    {# </fieldset> #}
                </div>
            {% endblock %}

            {% block javascripts %}
                <script>
                    $('#add-diplome').click(function () {

                        const index = +$('#widget-counters').val();
// je recupère les prototypes des donnees
                        const tmpl = $('#profil_diplomes').data('prototype').replace(/__name__/g, index);
// j'injecte ce code au sein de la div
                        $('#profil_diplomes').append(tmpl);

// on veut dire a notre widget d'incrementer
                        $('#widget-counters').val(index + 1);
// je gère le button supprimer
                        handleDeleteButton();
                    });

                    function handleDeleteButton() {
                        $('button[data-action="delete"]').click(function () {
                            const target = this.dataset.target;
                            $(target).remove();
                        })
                    }

                    function updateCounter() {
                        const count = +$('#profil_diplomes div.form-group').length;
                        $('#widget-counters').val(count);
                    }

                    updateCounter();

                    // au rechargement de la page
                    handleDeleteButton();
                </script>
            {% endblock %}
